/*
  To do:
*/

:root {
  --main-font-family: serif;
}

a:link {
  color: #0074D9dd; /* blue */
}

a:hover {
  color: #7FDBFFdd; /* aqua */
}

a:visited {
  color: #B10DC9dd; /* purple */
}

blockquote {
  padding: 5px 10px;
  border-left: 3px solid #aaa8a1; 
  background-color: #eeebe4; 
  margin: 0
}

blockquote.dark-mode {
  border-left: 3px solid #787878;
  background-color: #343434;
}

body {
  background-color: #fffcf5; /* off-white */
  color: black;
  font:1em/1.5 var(--main-font-family);
  margin:1em 1em;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffffd3;
}

.bold {
  font-weight: bold;
}

.content {
  max-width: 80ch;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: underline;
	font-weight: normal;
}

.italic {
  font-style: italic;
}

.nav-footer {
  display:flex;
	flex-direction:row;
	font-style:italic;
	justify-content:space-between;
	margin: 2em;
  padding: 1em;
}

.updated {
  color: grey;
  font: 0.9em var(--main-font-family);
}

sup {
  padding-left: 3px;
}